@{
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture.Name;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] ?? "MultipleDesk") - Secure Remote Access</title>
    <link rel="icon" type="image/x-icon" href="~/tabicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pricing.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/events.css" asp-append-version="true" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--bot-->
    <meta name="keywords" content="Remote Access, Remote Desktop, Secure Connection, MultipleDesk, Remote Support" />
    <meta name="robots" content="index, follow" />

    <meta name="title" content="MultipleDesk - Secure Remote Access" />
    <meta name="description" content="Connect and control any device instantly with MultipleDesk. Secure, fast, and simple." />


    <!-- meta-->
    <meta property="og:title" content="MultipleDesk - Secure Remote Access" />
    <meta property="og:description" content="Connect and control any device instantly with MultipleDesk. Secure, fast, and simple." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://multipledesk.com/" />
    <meta property="og:image" content="http://multipledesk.com/images/logohere.png" />
    <meta property="og:image:alt" content="MultipleDesk Remote Access Devices" />

    <!-- twitter meta-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="MultipleDesk - Secure Remote Access" />
    <meta name="twitter:description" content="Connect and control any device instantly with MultipleDesk. Secure, fast, and simple." />
    <meta name="twitter:image" content="http://multipledesk.com/images/logohere.png" />

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>
<body class="bg-light">

    <header >
        <nav class="  navbar navbar-expand-lg navbar-light fixed-top " style="background-color:#FF9E2C;z-index: 1045;">
                <div class=" container container-fluid" >
                <!-- Brand -->
                <a class="navbar-brand d-flex justify-content-center align-items-center gap-1 mx-auto ms-3 ms-md-0"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index">
                    <img src="~/images/logowithtext.png"
                         alt="MultipleDesk Logo"
                         style="height: 50px;"
                         class="align-middle"> 
                </a> 
                <!-- Toggler -->
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" >
                    <i class="bi bi-list text-white"></i>
                </button>

                <!-- Desktop Nav -->
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav mb-2 mb-lg-0 align-items-center gap-lg-2">

                        <li class="nav-item">
                            <a class="nav-link text-white fs-5" asp-area="" asp-controller="Contact" asp-action="Index">
                                <i class="bi bi-bag"></i> @Localizer["Sales"]
                            </a>
                        </li>

                        @* <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Pricing" asp-action="Index">
                                <i class="bi bi-tags"></i> Pricing
                            </a>
                        </li>  *@
               
                        <li class="nav-item">
                            <a class="nav-link text-white fs-5" asp-area="" asp-controller="Download" asp-action="Index">
                                <i class="bi bi-download"></i> @Localizer["Download"]
                            </a>
                        </li>

                        <li class="nav-item">
                            <form asp-controller="Home" asp-action="ChangeLanguage" method="post" class="d-inline" asp-route-returnUrl="@returnUrl">
                                <select name="language" class="form-select form-select-sm" onchange="this.form.submit()">
                                    <option value="en-US" selected="@(currentCulture == "en-US" ? "selected" : null)">English</option>
                                    <option value="ne-NP" selected="@(currentCulture == "ne-NP" ? "selected" : null)">नेपाली</option>
                                </select>
                            </form>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width:100%;background-color:white;">
        <div class="offcanvas-header">
            <a asp-action="Index" asp-controller="Home" class="text-decoration-none text-black">
            <h5 class="offcanvas-title d-flex align-items-center gap-2" id="mobileMenuLabel">
                <img src="~/images/multipledesklogo.png" alt="MultipleDesk Logo" style="height: 30px;">
                @Localizer["MultipleDesk"]
            </h5>
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">

              @*  <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Pricing" asp-action="Index">
                        <i class="bi bi-tags"></i> Pricing
                    </a>
                </li>  *@

                <li class="nav-item">
                    <a class="nav-link fs-5" asp-area="" asp-controller="Contact" asp-action="Index">
                        <i class="bi bi-bag"></i> @Localizer["Sales"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" asp-area="" asp-controller="Download" asp-action="Index">
                        <i class="bi bi-download"></i>@Localizer["Download"]
                    </a>
                </li>
                <li class="nav-item">
                    <form asp-controller="Home" asp-action="ChangeLanguage" method="post" class="d-inline" asp-route-returnUrl="@returnUrl">
                        <select name="language" class="form-select form-select-sm" style="max-width:100px;" onchange="this.form.submit()">
                            <option value="en-US" selected="@(currentCulture == "en-US" ? "selected" : null)">English</option>
                            <option value="ne-NP" selected="@(currentCulture == "ne-NP" ? "selected" : null)">नेपाली</option>
                        </select>
                    </form>
                </li>
            </ul>
        </div>
    </div>


    <main role="main">
            @RenderBody()
        </main>
    

    @await Html.PartialAsync("Partials/_Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/pricing.js" asp-append-version="true"></script>
    <script src="~/js/contact.js" asp-append-version="true"></script>
    <script src="~/js/events.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
